
body{
  display: flex;
  background-color: whitesmoke;
}

h1{
  font-size: 4em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: gray;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button#add{
  height: 35px;
  width: 35px;
  background-color: rgb(236, 137, 15);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

#root{
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

li{
  font-size: large;
  font-family: 'Bellota', cursive;
  /* cursor: pointer; */
}

img.clear{
  cursor: pointer;
  width: 20px;
}

.completed{
  text-decoration: line-through;
  color: gray;
}